h1{
    color:azure;
    font-family:Arial;
}
body{
    background-color: rgb(101, 190, 190);
    border-color: aqua;
}
h2{
    color: deepskyblue;
}
a{
    transform-style: initial;
}
header{
    align-content: center;
    background-color: rgb(127, 176, 196);
    width: 100%;
}
